/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset-Code --*/

body {
	padding: 0;
	margin: 0;
	background: ;
	font-family: 'Open Sans', sans-serif;
}
body a {
	color:red;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	text-transform: capitalize;
}
p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type:none;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/
/*-- header --*/ 
.w3-start {
    background-color: rgba(31, 156, 214, 0.99);
    height: 80px;
    color: white;
}
.container.nav1 {
    text-align: right;
	padding-top: 10px;
}
.w3ls-navbar {
    background-color: transparent;
    border: none;
    /* color: white; */
}
.nav1 a {
    color: #f9ff00;
}
.nav1 span.fa {
    padding: 0 8px;
	color:#1ff759;
}
a.navbar-brand.w3-logo {
    color: white;
	position: absolute;
    top: -15px;
}
span.big {
    font-weight: bold;
    font-size: 25px;
}
.brand1 span.br {
    color: #35ff4f;
}
.brand1 span.br:hover{
	color:yellow;
}
.brand1 span.bb {
    color: #fff;

}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #f9ff00;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
/*

.container.nav2 {
    display: flex;

}
.brand1 {
    flex: 1;
	position: absolute;
}

.menu {
    flex: 5;
    text-align:right;
}
.menu ul{
	padding:7px 0;
}
.menu li {
    display: inline-block;
	padding: 0 5px;
	text-align: center;
	    width: auto;
}
.menu a:hover {
    color: red;
   
}
.menu a {
    margin: auto 0 0 2%;
	color: white;
} */
/*-- //Navigation --*/
/*-- //banner caurosel --*/
.carousel span.fa {
    top: 50%;
    font-size: 50px;
	    color: #d20808;
    position: absolute;
}
.item {
    height: 700px;
}
.carousel-caption {
    top: 50%;
	padding: 0;
}
.carousel-caption h3,.carousel-caption h1 {
    margin-bottom: 3%;
	font-size: 43px;
	color: #ffffff;
	text-shadow: 2px 2px rgba(58, 58, 60, 0.65);
    font-weight: bold;
}
.carousel-caption p {
font-size: 45px;
}
.carousel-caption a {
    background-color: #0957ff;
    border-radius: 0 10px 10px 0;
    padding: 9px;
	border: 1px solid #0957ff;
    /* margin-left: -3px; */
    color: yellow;
    position: absolute;
    top: 25%;
	left: 51%;
}
.carousel-caption input[type="email"] {
    padding: 9px 1%;
    width: 21%;
	color: black;
    border-radius: 10px 0 0 10px;
    border: 2px solid #0957ff;
	position: absolute;
    left: 30%;
    top: 25%;
	outline: 0;
}
.w3ls-mail input[type="submit"] {
    background: none;
    border: none;
	outline: 0;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 2rem;
	color: red;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/*-- //banner caurosel --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow1.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- welcome section --*/
.agileits-welcome {
    color: #fdfcfc;
    background-color: #00a0b0;
	    padding: 5% 0px;
}
.modal-content {
    color: black;
}
.w3-text p {
    line-height: 2.5;
	text-align: justify;
    margin: 3% 3% 2% 0;
}
.modal-body img {
    margin: auto;
}
.modal-header {
     padding: 5px 15px;
     font-size: 25px;
}
span.w3ag {
    color: #fb0303;
    font-weight: bold;
    font-size: 35px;
	vertical-align: middle;
}
.w3-welcome {
    display: flex;
}
.w3-text button.btn.btn-info.btn-lg, .w3-image a {
    color: white;
    background-color: #e43400;
    padding: 1% 2%;
    /* margin-top: 3%; */
	border-radius:0;
    border-bottom: 3px solid #e2f109;
}
.w3-text button.btn.btn-info.btn-lg:hover, .w3-image a:hover {
    background-color: black;
    color: yellow;
    border-bottom-color: lightgray;
}
.w3-text {
    line-height: 2.7;
    width: 100%;
}
.bestimg {
	margin: 3% 0;
}
.bestimg img {
    height: 300px;
    border-radius: 5px;
}
.w3-image p {
    margin: 5% 0;
}
/*-- //welcome section --*/
/*-- Services section --*/
.w3ls-service {
    padding: 4% 0;
/*	line-height: 3;
*/}
/*
.img-responsive {
    background: url('../images/5.jpg');
    min-height: 301px;
    background-size: cover;
}
.img2.img-responsive {
    background: url('../images/office6.jpg');
    background-size: cover;
}
.img3.img-responsive {
    background: url('../images/office4.jpg');
    background-size: cover;
} */
.row-agile h2 {
    margin: 4% 0;
    margin-top: 0px;
}
.row-agile p {
    line-height: 1.7;
	font-size: 16px;
	text-align: justify;
}
.row-agile .part1:hover {
    background-color: cornsilk;
}
.row-agile .part1 {
    padding: 5px;
    /* margin-right: 0px; */
	transition: 0.5 all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.row-agile button.btn.btn-secondary.details:hover {
    background-color: darkslategrey;
    color: white;
    border-bottom-color: deepskyblue;
    /* border-bottom-width: 3px; */
}
.row-agile button.btn.btn-secondary.details {
    padding: 1% 5px 1% 1px;
    border-bottom: 3px solid red;
	color: red;
	background-color: transparent;
}
.w3ls-service p.center {
    font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
}
.center {
    text-align: center;
}
/*-- //Services section --*/
/*-- gallery --*/
.w3ls-galley {
    padding-bottom: 4%;
}
.agilecount h3.center {
    padding: 3% 0;
	    color: #086969;
    font-weight: bold;
}
.resp-tab-content {
    border: 1px solid #5AB1D0;
    border-top-color: #5AB1D0;
	height: auto;
	overflow: hidden;
}
h3.center {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    color: midnightblue;
}
.taba {
    padding: 0;
}
.chocolat-image img {

    padding: 5px;
}

div#tab2, div#tab3, div#tab4 {

}
a.tabs {
    font-size: 20px;
}
.chocolat-wrapper .chocolat-bottom {
	background: rgba(234, 10, 10, 0.4);
}
/*-- //gallery --*/
/*-- Our Team --*/
.agile-team {
/*    background-color: rgba(253, 145, 2, 0.53);
*/}
.w3ls-team {
    padding: 5% 0;
    padding-top: 0px;
/*	background-color: rgba(250, 235, 215, 0.37);
*/}
.team {
    margin-top: 3%;
    text-align: center;
    font-size: 25px;
}
.team h4 {
    padding: 2% 0;
    color: red;
    font-weight: bold;
	text-transform: uppercase;
}
.team p {
	text-transform: uppercase;
}
.team img {
  /*  height: 300px; */
  margin:auto;
}
.team span.fa.fa-facebook-square {
    color: #3b5998;
}
.team span.fa.fa-google-plus-square {
    color: #e01515;
}
.team span.fa.fa-twitter-square {
    color: #55acee;
}
/*-- //Our Team --*/

/*-- number scroll section --*/
.counter1 {
    background-color: deepskyblue;
    position: absolute;
    width: 35%;
    padding: 2% 2%;
    right: 10%;
    color: white;
}
.c1 {
    width: 32%;
    display: inline-block;
    background-color: darkcyan;
    text-align: center;
    padding: 6% 0;
	margin-top:5%;
}
span.numscroller {
    font-size: 35px;
}
.agilecount {
    background-color: beige;
    min-height: 600px;
    background: url(../images/counter.jpg);
    background-size: cover;
}
/*-- //number scroll section --*/
/*-- grids section --*/
.w3-service {
    padding: 3% 0;
	background-color: aliceblue;
}
.w3ls-servicegrid {
    padding: 2% 0;
	display: flex;
}
.text {
    flex: 1;
	padding: 3%;
}
.text h3 {
    font-weight: bold;
    margin-bottom: 10px;
}
.text p {
    text-align: justify;
}
.grids {
    flex: 1;
}
.gridbox {
    text-align: center;
    width: 25%;
    font-size: 20px;
    height: 120px;
    margin: 10px;
    display: inline-block;
    /* line-height: 3; */
    background-color: antiquewhite;
    /* color: red; */
}
.gridbox p {
    font-size: 18px;
    text-transform: uppercase;
}
.gridbox span.fa {
    color: red;
	font-size: 30px;
	padding: 20% 0 3% 0;
}
/*-- //grids section --*/
/*-- map section --*/
iframe {
    border: none;
    width: 100%;
    /* margin: auto; */
    height: 350px;
}
/*-- //map section --*/
/*-- Contact section --*/
.w3ls-contact {
    background-color: black;
    color: white;
    line-height: 3;
}
.w3ls-contact h4 {
    text-transform: uppercase;
}
.form h4 {
    margin-bottom: 4%;
}
.w3ls-contact span.fa {
    color: #faff22;
	font-size: 18px;
	transition:0.5 all;
    margin-right: 12px;
}
.w3ls-contact span.fa:hover{
	color:#0af31d;
}
.form input[type="text"],.form input[type="email"] {
    width: 100%;
	color: black;
    margin-bottom: 5%;
    padding: 0 15px;
}
.form textarea {
    width: 100%;
	color: black;
    padding: 0 15px;
}
.form input[type="SUBMIT"] {
    color: red;
    background: none;
    border: 2px solid red;
    padding: 0 6%;
    font-weight: bold;
}
.form input[type="SUBMIT"]:hover {
    color: #0af31d;
    border: 2px solid #0af31d;
}
.agile-contact {
    padding: 4% 0 2% 0;
}
.agile-contact a {
    color: white;
}
.agile-contact a:hover {
    color: yellow;
}
/*-- //Contact section --*/
/* footer */

.footer {
    text-align: center;
	color: white;
    background-color: black;
}
.footer hr {
    margin: 0;
}
.footer a:hover {
    color: yellow;
}
.footer p{
	padding:1.2% 0;
}
/* //footer */
/* Responsive */
@media screen and (max-width: 1440px){
	.carousel-caption a {
		left:53%;
	}
	.carousel-caption input[type="email"] {
		width: 23%
	}
	.counter1 {
		padding: 1% 1%;
	}
	.counter1 p {
		line-height: 1.8;
	}
}
@media screen and (max-width: 1366px){
	.carousel-caption a {
		left:55%;
	}
	.carousel-caption input[type="email"] {
		width: 25%
	}
	.carousel-caption h3,.carousel-caption h1 {
	    font-size: 40px;
	}
	.agilecount h3.center {
		padding: 2% 0;
	}
	
}
@media screen and (max-width: 1280px){
	.carousel-caption h3,.carousel-caption h1 {
	    font-size: 37px;
	}
	
}
@media screen and (max-width: 1080px){
	.carousel-caption a {
		left:59%;
	}
	.carousel-caption input[type="email"] {
		width: 29%
	}
	.carousel-caption h3,.carousel-caption h1 {
		font-size: 33px;
	}
	span.w3ag {
		font-size: 32px;
	}
	.resp-tab-content {
		height: auto;
	}
	.counter1 {
		width: 40%;
	}
	.agilecount {
	    min-height: 520px;
	}
	.gridbox p {
		font-size: 16px;
		margin: 5px 0;	
	}
	.agile-contact li {
    font-size: 13px;
	}
	.form input[type="text"], .form input[type="email"] {
		margin-bottom: 3%;
		height: 40px;
	}
	.form textarea {
		height: 110px;
	}
}
@media screen and (max-width: 1050px){
	.carousel {
    height: 704px;
	}
	.carousel-caption a {
		left:61%;
	}
	.carousel-caption input[type="email"] {
		width: 31%
	}
	.carousel {
		height: 689px;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 32px;
	}
	.w3-text p {
    line-height: 2.1;
	}
	.w3-text button.btn.btn-info.btn-lg, .w3-image a {
	    font-size: 15px;
	}
	.agilecount {
    min-height: 510px;
	}
	.form input[type="SUBMIT"] {
		padding: 0px 5%;
	    line-height: 2;
	}
}
@media screen and (max-width: 1024px){
	.carousel-caption h3,.carousel-caption h1 {
		font-size: 31px;
	}
	.carousel {
    height: 672px;
	}
	h3.center {
    font-size: 24px;
	}
	.row-agile h2 {
		font-size:25px;
	}
	.agilecount {
    min-height: 497px;
	}
	span.numscroller {
    font-size: 25px;
	}
	.c1 h4 {
    font-size: 17px;
	}
	.team p {
    font-size: 20px;
	}
}
@media screen and (max-width: 991px){
	a.navbar-brand.w3-logo {
		left: 15px;
	}
	.container>.navbar-collapse, .container>.navbar-header {
    margin-right: -70px;
	}
	.carousel {
    height: 650px;
	}
	.carousel span.fa {
    top: 54%;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 30px;
	}
	.carousel-caption p {
		font-size:1.7rem;
	}
	.carousel-caption a {
		left:63%;
	}
	.carousel-caption input[type="email"] {
		width: 33%
	}
	.w3-welcome {
    padding: 0;
    width: 85%;
	}
	.w3-text h3 {
    font-size: 21px;
	}
	.w3-image {
    width: 30%;
	}
	.row-agile p {
    
    font-size: 14px;
	}
	.resp-tab-content {
    height: auto;
	}
	.resp-tabs-list li {
		padding: 8px 10px;
	}
	.resp-tab-active {
    padding: 5px 5px 10px 5px !important;
	}
	.agilecount {
    min-height: 480px;
	}
	.w3ls-servicegrid .text {
    padding: 7px;
	}
	.gridbox {
    width: 29%;
    height: 120px;
    margin: 5px;
	}
	.form input[type="text"], .form input[type="email"] {
    width: 120%;
	}
	.form textarea {
    width: 120%;
	}
}
@media screen and (max-width: 900px){
	.container.brand1 {
		margin-left: 100px;
	}
	.container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 27px;
	}
	.carousel-caption a {
		left:66%;
		top: 60%;
	}
	.carousel-caption input[type="email"] {
		width: 36%;
		top: 60%;
	}
	.carousel {
		height: 589px;
	}
	.carousel-inner {
		height: 589px;
	}
	.carousel span.fa {
		top: 50%;
	}
	.carousel-caption {
    top: 44%;
    height: 100px;
	}
	.w3-welcome {
    padding: 0;
    width: 90%;
	}
	.w3-image {
    width: 35%;
	}
	.w3-text h3 {
	font-size: 18px;
	}
	span.w3ag {
		font-size: 23px;
	}
	.w3-image h3 {
    font-size: 17px;
	}
	.w3-text p {
    line-height: 1.8;
    font-size: 14px;
	}
	.w3-image p {
		font-size: 14px;
	}
	h3.center {
    font-size: 18px;
	}
	.w3ls-service p.center {
    font-size: 15px;
	}
	.row-agile h2 {
    font-size: 20px;
	}
	.w3ls-galley a.tabs{
    font-size: 18px;
	}
	.agilecount {
    min-height: 435px;
	}
	.counter1 {
    width: 50%;
	}
	.w3ls-servicegrid .text h3 {
    font-size: 19px;
	}
	.form input[type="text"], .form input[type="email"] {
    width: 100%;
	}
	.form textarea {
    width: 100%;
	}
	.w3ls-contact h4 {
    font-size: 17px;
	}
}
@media screen and (max-width: 800px){
	.brand1 {
    width: 85%;
    padding: 0;
	}
	ul.nav.navbar-nav.navbar-right.w3ls-nav li a {
    padding: 9px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    font-size: 16px;
	}
	.carousel {
    height: 522px;
	}
	.carousel-inner {
    height: 522px;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 24px;
	}
	.carousel-caption {
    top: 40%;
	}
	.carousel-caption p {
    font-size: 1.5rem;
	}
	.carousel-caption input[type="email"] {
    width: 40%;
	    left: 26%;
	}
	.carousel-caption a {
    left: 66%;
    }
	.carousel-inner {
    height: 522px;
	}
	.w3-welcome {
    display:block;
	text-align: center;
	}
	.w3-image {
    width: 100%;
	}
	.w3-text h3 {
    font-size: 23px;
	}
	
	span.w3ag {
    font-size: 33px;
	}
	.w3-image h3 {
    font-size: 23px;
    padding-top: 20px;
	}
	.w3-text p {
    margin: 3% 0 2% 0;
	}
	.agilecount h3.center {
    padding: 1% 0;
    color: #1f1f90;
	}
	.counter1 {
    line-height: 1;
	}
	.agilecount {
    min-height: 387px;
	}
	.mymap iframe {
    height: 300px;
	}
	.w3ls-contact h4 {
    font-size: 15px;
	}
}
@media screen and (max-width: 768px){
	.brand1 {
		width: 84%;
	}
	.carousel-caption {
		width: 63%;
		top: 38%;
	}
	.carousel {
    height: 501px;
	}
	.carousel-inner {
    height: 501px;
	}
	.counter1 h3 {
    font-size: 18px;
	}
	.counter1 p {
    font-size: 14px;
	
	}
	.c1 h4 {
    font-size: 16px;
	    margin-top: 7px;
	}
	.agilecount {
    min-height: 371px;
	}
	.form input[type="text"], .form input[type="email"] {
    margin-bottom: 0;
    height: 30px;
	}
	.agile-contact form {
    line-height: 2.7;
	}
	.form textarea {
    height: 90px;
	margin-top: 4px;
	}
}
@media screen and (max-width: 736px){
	.carousel {
    height: 479px;
	}
	.carousel-inner {
    height: 479px;
	}
	.carousel-inner {
    height: 479px;
	}
	.w3-image p {
    margin: 3% 0;
	}
	.w3ls-nav {
    margin-top: 28px;
	    text-align: center;
	}
	.w3ls-navbar {
    background-color: rgba(33, 157, 214, 0.83);
	}
	.navbar-inverse .navbar-collapse, 
	.navbar-inverse .navbar-form {
    border-color: transparent;
}
	.w3-start {
    height: 80px;
	}
	.carousel-caption {
    width: 68%;
    top: 36%;
	}
	.carousel-caption a {
    left: 64%;
	}
	.part1.part3 {
    margin-left: 25%;
	}
	.resp-tab-content {
    height: auto;
	}
	.counter1 {
    line-height: 0.2;
	}
	.counter1 p {
    font-size: 13.5px;
	}
	.counter1 h3 {
    font-size: 21px;
	}
	span.numscroller {
    font-size: 20px;
	}
	.c1 h4 {
    margin-top: 15px;
	}
	.agilecount {
    min-height: 355px;
	}
	h3.center {
    font-size: 25px;
    margin-bottom: 10px;
	}
	.counter1 {
    width: 52%;
	}
	.w3ls-team {
	margin-top: -10px;
	}
	.team p {
    font-size: 17px;
	}
}
@media screen and (max-width: 667px){
	ul.nav.navbar-nav.navbar-right.w3ls-nav li a {
    padding: 5px;
    text-transform: uppercase;
	}
	.carousel-inner {
    height: 433px;
	}
	.carousel {
    height: 433px;
	}
	.carousel-caption {
    width: 75%;
    top: 32%;
	}
	.carousel span.fa {
        font-size: 35px;
	}
	span.big {
        font-size: 21px;
	}
	span.w3ag {
    font-size: 27px;
	}
	.w3-text h3 {
    font-size: 23px;
	}
	.resp-tab-content {
    height: 1210px;
	}
	.counter1 {
    width: 58%;
	line-height: 0;
	    right: 5%;
	}
	.c1 {
		margin-top: 0;
	}
	.agilecount {
    min-height: 321px;
	}
	.mymap iframe {
    height: 270px;
	}
	.agile-contact span.fa {
    color: #07ecaf;
	}
	.agile-contact span.fa:hover {
    color: white;
	}
	.agile-contact ul li:hover {
    color: yellow;
	}
	.modal-content {

		font-size: 10px;
		margin: auto;
	}
	.modal-header {
		padding: 5px;
	}
	.modal-body {
		position: relative;
		padding: 5px 10px;
	}
	h3.center {
    font-size: 22px;
	}
	.modal-footer {
		padding: 5px;
	}

}
@media screen and (max-width: 640px){
	.carousel {
    height: 415px;
	}
	.carousel-inner {
    height: 415px;
	}
	.carousel-caption {
    top: 31%;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 22px;
	}
	.carousel-caption input[type="email"] {
    left: 23%;
	}
	.carousel-caption a {
    left: 62%;
	}
	.w3-text h3 {
    font-size: 21px;
	}
	.resp-tab-content {
    height: auto;
	}
	.counter1 {
    width: 60%;
	}
	.counter1 p {
    font-size: 12.5px;
	}
	.agilecount {
    min-height: 308px;
	}
	.gridbox p {
    font-size: 13px;
	}
	.gridbox {
    height: 100px;
	}
	.form.col-md-4.col-sm-4.col-xs-12 {
    margin-top: 15px;
	}
}
@media screen and (max-width: 600px){
	.carousel {
    height: 388px;
	}
	.carousel-inner {
    height: 388px;
	}
	.carousel-caption {
    top: 29%;
	}
	.container.brand1 {
    margin-left: 90px;
	}
	.carousel-caption p {
    font-size: 1.4rem;
    color: red;
	}
	span.w3ag {
    font-size: 22px;
	}
	.resp-tab-content {
    height: auto;
	}
	.c1 h4 {
    font-size: 16px;
	}
	.agilecount {
    min-height: 288px;
	}
	.gridbox {
    width: 44%;
	}
	.w3ls-contact h4 {
    font-size: 14px;
    margin-bottom: 4px;
	}
	h3.center {
    margin-bottom: 5px;
	}
	.w3ls-team {
    margin-top: -5px;
	}
}
@media screen and (max-width: 568px){
	.carousel {
    height: 367px;
	}
	.brand1 {
    width: 75%;
	}
	.container.nav1 {
    text-align: center;
    padding-top: 5px;
	}
	.w3-logo{
	    margin-top: 15px;
	}
	.carousel-inner {
    height: 367px;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 20px;
	}
	.carousel-caption {
    top: 27%;
	}
	.carousel-caption input[type="email"] {
    height: 32px;
    font-size: 13px;
	    width: 42%;
	}
	.carousel-caption a {
    left: 64%;
    height: 32px;
    font-size: 13px;
    line-height: 1;
	}
	.w3-text h3 {
    font-size: 20px;
	}
	.resp-tab-content {
    height: auto;
	}
	.counter1 {
    width: 62%;
	    line-height: 0.41;
	}
	.agilecount {
    min-height: 272px;
	}
	.c1 {
    padding: 3% 0;
	}
	.counter1 h3 {
    font-size: 19px;
	}
	.counter1 p {
    font-size: 12px;
	}
	span.numscroller {
    font-size: 15px;
	}
	.c1 h4 {
    font-size: 14px;
	}
	.gridbox span.fa {
		padding: 14% 0 3% 0;
	}
}
@media screen and (max-width: 480px){
	.carousel {
    height: 309px;
	}
	.carousel-inner {
    height: 309px;
	}
	.carousel-caption {
    top: 23%;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 22px;
	}
	.carousel-caption p {
    font-size: 14px;
	}
	.carousel-caption input[type="email"] {
    font-size: 11px;
	}
	.carousel-caption a {
    left: 64%;
    height: 32px;
    font-size: 13px;
	    line-height: 1.5;
    padding: 6px;
	}
	span.w3ag {
    font-size: 11px;
}
	.w3-text h3 {
    font-size: 19px;
	}
	.w3-text p {
    line-height: 1.5;
    font-size: 14px;
	}
	.w3-image h3 {
    font-size: 20px;
	}
	h3.center {
    font-size: 20px;
    margin-bottom: 5px;
	}
	.col-md-4.col-sm-4.col-xs-6.part1 {
    width: 100%;
	}
	.part1.part3 {
    margin-left: 0;
	}
	.row-agile h2 {
    font-size: 20px;
	}
	.row-agile p {
    font-size: 15px;
	}
	.resp-tab-content {
    height: auto;
	}
	.agilecount h3.center {
    display: block;
    font-size: 20px;
	}
	.agilecount {
    min-height: 272px;
    position: relative;
    background-size: 550px;
	}
	.counter1 {
    width: 74%;
    right: 10px;
    top: 35px;
    line-height: 0.8;
	}
	.counter1 p {
    font-size: 13px;
    line-height: 1.5;
	}
	.team p {
    font-size: 14px;
	}
	.col-md-4.col-sm-4.col-xs-4.team {
    width: 100%;
	}
	.team img {
    /* height: 300px; */
    margin: auto;
	}
	.team p {
    font-size: 18px;
	}
	.w3ls-servicegrid {
    display: inline-block;
	}
	.gridbox {
    width: 30%;
	height: 110px;
	}
	.w3ls-servicegrid .text {
    padding: 15px;
	}
	.w3ls-contact h4 {
    margin-bottom: 20px;
	}
}
@media screen and (max-width: 414px){
	.brand1 {
    width: 72%;
	}
	.w3ls-nav {
    margin-top: 35px;
    margin-bottom: 0;
	}
	ul.nav.navbar-nav.navbar-right.w3ls-nav li a {
    padding: 2px;
	}
	.carousel span.fa {
    font-size: 25px;
	}
	.carousel {
    height: 265px;
	}
	.carousel-inner {
    height: 265px;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 19px;
	}
	.carousel-caption {
    top: 18%;
	}
	.carousel-caption input[type="email"] {
    font-size: 11px;
    top: 47%;
	width: 48%;
	left: 17%;
	}
	.carousel-caption a {
		top: 47%;
		line-height: 1.5;
		    left: 64%;
	}
	.carousel span.fa {
    top: 46%;
	}
	span.w3ag {
    font-size: 16px;
	}
	.w3-text h3 {
    font-size: 16px;
	}
	.w3-text p {
    font-size: 14px;
	}
	.w3-image h3 {
    font-size: 20px;
	}
	h3.center {
    font-size: 19px;
	}
	span.rhide {
    display: none;
	}
	.resp-tab-content {
    height: auto;
	}
	.counter1 {
    width: 86%;
    right: 10px;
    top: 35px;
    line-height: 0.9;
	}
	.agilecount h3.center {
    display:block;
	}
	.footer p {
    font-size: 13px;
	}
}
@media screen and (max-width: 384px){
	.carousel {
    height: 245px;
	}
	.carousel-inner {
    height: 245px;
	}
	.carousel-caption {
    top: 15%;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 18px;
	}
	.carousel-caption p {
    font-size: 14px;
	}
	.carousel span.fa {
    top: 41%;
	}
	span.w3ag {
    font-size: 0px;
    display: none;
	}
	.carousel-caption input[type="email"] {
    width: 53%;
    left: 12%;
}
	.w3-text h3 {
    font-size: 20px;
	}
	.w3-text p {
    line-height: 1.7;
	    font-size: 13px;
	}
	.counter1 {
    width: 93%;
	}
	h3.center {
    font-size: 17px;
	}
	.w3ls-service p.center {
    font-size: 14px;
	}
	.resp-tab-content {
    height: auto;
	}
	.gridbox {
    width: 29%;
    height: 100px;
	}
	.mymap iframe {
    height: 230px;
	}
}
@media screen and (max-width: 375px){
	.carousel {
		height: 239px;
	}
	.carousel-inner {
    height: 239px;
	}
	.carousel-caption {
    top: 14%;
	}
	span.w3ag {
    font-size: 13px;
	}
	.w3-text p {
    font-size: 14px;
	line-height: 1.5;
	}
	.w3-text h3 {
    font-size: 20px;
	}
	.resp-tab-content {
    height: auto;
	}
	.counter1 {
    width: 96%;
    right: 3px;
    top: 35px;
	}
	.info.col-md-4.col-sm-4.col-xs-6 {
    width: 100%;
    text-align: left;
	line-height: 2.5;
    margin-bottom: 20px;
	}
	.links.col-md-4.col-sm-4.col-xs-6 {
    width: 100%;
        text-align: left;
    line-height: 2.5;
    margin-bottom: 10px;
	}
	h3.center {
    font-size: 20px;
	}
	#service h3.center {
/*    font-size: 17px;
*/	}
	.footer p {
    font-size: 14px;
	}
}
@media screen and (max-width: 320px){
	span.w3ag {
    font-size: 9px;
	}
	.container.nav1 {
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
	}
	.carousel {
    height: 202px;
	}
	.carousel-inner {
    height: 202px;
	}
	.carousel-caption {
    top: 11%;
	}
	.carousel span.fa {
    top: 40%;
	}
	.carousel-caption input[type="email"] {
    font-size: 9px;
    top: 47%;
    width: 52%;
    left: 13%;
	}
	.carousel-caption h3,.carousel-caption h1 {
    font-size: 20px;
	}
	.carousel-caption a {
    line-height: 1.8;
    font-size: 11px;
	}
	.w3-text h3 {
    font-size: 19px;
	}
	.bestimg img {
    width: 100%;
	}
	.container.brand1 {
    margin-left: 85px;
	}
	h3.center {
    font-size: 25px;
	}
	#service h3.center {
/*    font-size: 19px;
*/	}
	.row-agile p {
    font-size: 13px;
	}
	.resp-tab-content {
    height: auto;
	}
	.counter1 {
    width: 89%;
    right: 10px;
    top: 32px;
    line-height: 0.8;
	}
	.agilecount h3.center {
    display: block;
	}
	.c1 h4 {
    margin-top: 10px;
	}
	.w3ls-servicegrid .text h3 {
    font-size: 15px;
	}
	.text p {
    font-size: 13px;
	}
	.footer p {
    font-size: 13px;
	}
	
	.agilecount h3.center {
    font-size: 25px;
	}
}